In [1]:
# importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
# list of the ticker symbol

stock_list = ["AAPL", "AMD", "MSFT", "ORCL"]

# Empty dictionary

stocks = {}

# loop through the stock list
for i_stock in stock_list:
    stocks[i_stock] = pd.read_csv(str(i_stock +".csv"), parse_dates = True, index_col = "Date")

### The Equal-Weighted Portfolio

In [3]:
stocks["AMD"]

             Adj Close
Date
2019-01-02   18.830000
2019-01-03   17.049999
2019-01-04   19.000000
2019-01-07   20.570000
2019-01-08   20.750000
...                ...
2021-12-23  146.139999
2021-12-27  154.360001
2021-12-28  153.149994
2021-12-29  148.259995
2021-12-30  145.149994

[756 rows x 1 columns]

### Equal weighted portfolio

In [4]:
for stock_name, stock_p in stocks.items():
    intial_close = stock_p.iloc[0]["Adj Close"]
    stock_p["Normalized Return"] = stock_p["Adj Close"] / intial_close
    
    # Equal weighted allocation for each stocks
    stock_p["Allocation"] = stock_p["Normalized Return"] * 0.25
    
    # portfolio value
    stock_p["Position Value"] = stock_p["Allocation"] * 500000

In [5]:
stocks["ORCL"]

            Adj Close  Normalized Return  Allocation  Position Value
Date
2019-01-02  42.138145           1.000000    0.250000   125000.000000
2019-01-03  41.728134           0.990270    0.247567   123783.728831
2019-01-04  43.526596           1.032950    0.258237   129118.746233
2019-01-07  44.216164           1.049314    0.262329   131164.302458
2019-01-08  44.616867           1.058824    0.264706   132352.962477
...               ...                ...         ...             ...
2021-12-23  87.860367           2.085055    0.521264   260631.922364
2021-12-27  87.684105           2.080872    0.520218   260109.053180
2021-12-28  86.812546           2.060189    0.515047   257523.631071
2021-12-29  86.381676           2.049964    0.512491   256245.483766
2021-12-30  86.185829           2.045316    0.511329   255664.518006

[756 rows x 4 columns]

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 756 entries, 2019-01-02 to 2021-12-30
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   APPL    756 non-null    float64
 1   AMD     756 non-null    float64
 2   MSFT    756 non-null    float64
 3   ORCL    756 non-null    float64
dtypes: float64(4)
memory usage: 29.5 KB

In [57]:
data.head()

                 APPL        AMD       MSFT       ORCL
Date
2019-01-02  38.047047  18.830000  96.632668  42.138145
2019-01-03  34.257271  17.049999  93.077728  41.728134
2019-01-04  35.719696  19.000000  97.406723  43.526596
2019-01-07  35.640198  20.570000  97.530945  44.216164
2019-01-08  36.319611  20.750000  98.238113  44.616867

In [61]:
data.isnull().any()

APPL    False
AMD     False
MSFT    False
ORCL    False
dtype: bool