In [1]:
# importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [8]:
# load the data frames

def wrangle(filepath):
    df= pd.read_csv(filepath, parse_dates=True, index_col ="Date")
    
    
    
    return df

In [17]:
df = wrangle("ORCL.csv")
df2 = wrangle("AMD.csv")

In [18]:
df.merge(df2,on="Date",how="left")

            Adj Close_x  Adj Close_y
Date
2019-01-02    42.138145    18.830000
2019-01-03    41.728134    17.049999
2019-01-04    43.526596    19.000000
2019-01-07    44.216164    20.570000
2019-01-08    44.616867    20.750000
...                 ...          ...
2021-12-23    87.860367   146.139999
2021-12-27    87.684105   154.360001
2021-12-28    86.812546   153.149994
2021-12-29    86.381676   148.259995
2021-12-30    86.185829   145.149994

[756 rows x 2 columns]

In [16]:
df.head()

            Adj Close
Date
2019-01-02  42.138145
2019-01-03  41.728134
2019-01-04  43.526596
2019-01-07  44.216164
2019-01-08  44.616867

In [ ]:
parse_dates= True, index_col= 'Date'