In [1]:
# importing the libraries

import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [67]:
# list of the ticker symbol

stock_list = ["AAPL", "AMD", "MSFT", "ORCL"]

# Empty dictionary

stocks = {}

# loop through the stock list
for i_stock in stock_list:
    stocks[i_stock] = pd.read_csv(str(i_stock +".csv"), parse_dates = True, index_col = "Date")

### The Equal-Weighted Portfolio

In [69]:
stocks["AMD"]

             Adj Close
Date
2019-01-02   18.830000
2019-01-03   17.049999
2019-01-04   19.000000
2019-01-07   20.570000
2019-01-08   20.750000
...                ...
2021-12-23  146.139999
2021-12-27  154.360001
2021-12-28  153.149994
2021-12-29  148.259995
2021-12-30  145.149994

[756 rows x 1 columns]

In [ ]:
Equal weighted portfolio

In [52]:
dg = df.merge(df2,on="Date",how="left")
ds = dg.merge(df3,on="Date",how="left")
data = ds.merge(df4,on="Date",how="left")

In [54]:
data.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 756 entries, 2019-01-02 to 2021-12-30
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   APPL    756 non-null    float64
 1   AMD     756 non-null    float64
 2   MSFT    756 non-null    float64
 3   ORCL    756 non-null    float64
dtypes: float64(4)
memory usage: 29.5 KB

In [57]:
data.head()

                 APPL        AMD       MSFT       ORCL
Date
2019-01-02  38.047047  18.830000  96.632668  42.138145
2019-01-03  34.257271  17.049999  93.077728  41.728134
2019-01-04  35.719696  19.000000  97.406723  43.526596
2019-01-07  35.640198  20.570000  97.530945  44.216164
2019-01-08  36.319611  20.750000  98.238113  44.616867

In [61]:
data.isnull().any()

APPL    False
AMD     False
MSFT    False
ORCL    False
dtype: bool